---
import type { BaseFrontmatter } from "@content/config";
import { Image } from "astro:assets";
export interface Props {
  frontmatter: BaseFrontmatter;
}

const { frontmatter } = Astro.props;
const { title, description, demoLink, thumbnail, postSlug } = frontmatter;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../../images/*.{jpeg,jpg,png,PNG,gif}"
);
if (thumbnail && !images[thumbnail])
  throw new Error(
    `"${thumbnail}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<div
  class="flex h-full flex-col rounded-sm border border-skin-accent shadow-lg"
>
  {
    thumbnail && (
      <Image
        class="aspect-square rounded-sm object-cover p-6"
        width="700"
        src={images[thumbnail]()}
        alt={description ?? ""}
      />
    )
  }
  <div class="px-6 py-4">
    <h1 class="text-background mb-2 text-center text-xl font-bold">{title}</h1>
    <p class="mb-4">
      {description}
    </p>
  </div>
  <div class="mt-auto flex justify-center gap-4 pb-4">
    {
      postSlug && (
        <div class="hover:scale-105">
          <a
            class="inline-block rounded-sm bg-skin-accent p-2 font-mono text-skin-inverted"
            href={`/portfolio/${postSlug}`}
          >
            About
          </a>
        </div>
      )
    }
    {
      demoLink && (
        <div class="hover:scale-105">
          <a
            class="inline-block rounded-sm bg-skin-accent p-2 font-mono text-skin-inverted"
            href={demoLink}
            target="_blank"
          >
            Live Demo
          </a>
        </div>
      )
    }
  </div>
</div>
